<html>
	<head>
      <link rel="stylesheet" href="/style/form.css">
	</head>
	<body>

		<div class="login-form">
			<h1><%= title %></h1>
         
         <%- include('../components/inputs'); %>
         
         <div><%- lnkmsg %></div>
		</div>

	</body>
</html>